body{

  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
}
.parent{
  background-color: #6d5454;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;

 
 
}

.list-item{

  background-color: white;
  margin: 20px 0px;
  padding: 10px;
  width: 300px;
  list-style: none;
 border-radius: 10px;
  
}

.input-field{

  width: 300px;
  height: 20px;
  border-radius: 10px;
  border: none;
  padding: 10px;
  margin-right: 10px
}

.add-btn{

  width: 100px;
  height:40px;
  border-radius: 10px;
  border: none;
}

.icon{

  color: black;
  margin-left: 0px;
  cursor: pointer;
}

